
body{ display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(8, 1, 15);
}
h2{ 
    color: rgb(249, 243, 255);
   position: absolute;
    font-size: 50px;
    -webkit-text-stroke: 0.3vw rgb(8, 1, 15);
    text-transform: uppercase;
    font-family: sans-serif, 'Poppins';
   font-style: oblique;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    color:rgb(182, 14, 106);
    -webkit-text-stroke: 0vw, rgb(8, 1, 15);
    border-right: 2px, solid rgb(182, 14, 106);
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate
{
    0%,10%,100%
      {
          width: 0%;
      }
      70%,90%
      {
          width: 100%;}
      }